streamlit>=1.54.0
langchain>=1.2.10
langchain-community>=0.4.1
langchain-openai>=1.1.10
beautifulsoup4>=4.14.3
requests>=2.32.5
python-dotenv>=1.2.1
reportlab>=4.4.10
markdown>=3.10.2
duckduckgo-search>=8.1.1
pytest>=9.0.2
