streamlit
langchain
langchain-openai
langchain-community
scikit-learn
plotly
pandas
numpy
matplotlib
sentence-transformers
pillow
pypdf
python-dotenv
openai
tiktoken
pytest
chromadb
umap-learn
numba
llvmlite
